src/main/assets/rechtspraak-fake-schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:bwb="bwb-dl" xmlns:psi="http://psi.rechtspraak.nl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ecli="https://e-justice.europa.eu/ecli" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dcterms="http://purl.org/dc/terms/" targetNamespace="http://purl.org/dc/terms/">
	<xs:import schemaLocation="rechtspraak-fake-schema.xsd"/>
	<xs:import namespace="bwb-dl" schemaLocation="rechtspraak-fake-schema6.xsd"/>
	<xs:import namespace="http://psi.rechtspraak.nl/" schemaLocation="rechtspraak-fake-schema4.xsd"/>
	<xs:import namespace="https://e-justice.europa.eu/ecli" schemaLocation="rechtspraak-fake-schema7.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/01/rdf-schema#" schemaLocation="rechtspraak-fake-schema3.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rechtspraak-fake-schema1.xsd"/>
	<xs:element name="date">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:date">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdf:language" use="required"/>
					<xs:attribute name="resourceIdentifier" type="xs:anyURI" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute ref="rdf:language" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="issued">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:date">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="creator">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
					<xs:attribute name="resourceIdentifier" type="xs:anyURI"/>
					<xs:attribute name="scheme" type="xs:string" use="required"/>
					<xs:attribute ref="psi:resourceIdentifier"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatial">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
					<xs:attribute name="resourceIdentifier" type="xs:anyURI" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="abstract">
		<xs:complexType>
			<xs:attribute name="resourceIdentifier" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="coverage" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="modified" type="xs:dateTime"/>
	<xs:element name="relation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
					<xs:attribute ref="ecli:resourceIdentifier" use="required"/>
					<xs:attribute ref="psi:type" use="required"/>
					<xs:attribute ref="psi:aanleg" use="required"/>
					<xs:attribute ref="psi:gevolg"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="replaces">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="temporal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="start"/>
				<xs:element ref="end"/>
			</xs:sequence>
			<xs:attribute ref="rdfs:label" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="resourceIdentifier" type="xs:anyURI" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hasVersion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdf:list"/>
			</xs:sequence>
			<xs:attribute ref="rdfs:label" use="required"/>
			<xs:attribute name="resourceIdentifier" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="identifier" type="xs:anyURI"/>
	<xs:element name="references">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
					<xs:attribute ref="bwb:resourceIdentifier" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="accessRights" type="xs:string"/>
</xs:schema>
