src/main/assets/rechtspraak-pseudo-schema5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Mathijs (BED) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rs="http://www.rechtspraak.nl/schema/rechtspraak-1.0"
           targetNamespace="http://www.rechtspraak.nl/schema/rechtspraak-1.0">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:attribute name="space">
        <xs:annotation>
            <xs:documentation>
                <div>
                    <h3>space (as an attribute name)</h3>
                    <p>
                        denotes an attribute whose
                        value is a keyword indicating what whitespace processing
                        discipline is intended for the content of the element; its
                        value is inherited. This name is reserved by virtue of its
                        definition in the XML specification.
                    </p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:NCName">
                <xs:enumeration value="default"/>
                <xs:enumeration value="preserve"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:element name="nr" type="xs:string"/>
    <xs:element name="alt" type="xs:string"/>
    <xs:element name="row">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="para">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0">
                <xs:any/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="entry">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="namest" type="xs:string"/>
            <xs:attribute name="nameend" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tbody">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="cols" type="xs:byte"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="colspec">
        <xs:complexType>
            <xs:attribute name="colname" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="section">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="role" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="emphasis">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="role" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="footnote">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:short" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="listitem">
        <xs:complexType>
            <xs:sequence>
                <xs:any maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="conclusie">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:sequence>
                    <xs:any/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id" type="xs:anyURI" use="required"/>
            <xs:attribute name="lang" type="xs:string" use="required"/>
            <xs:attribute ref="rs:space" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="imagedata">
        <xs:complexType>
            <xs:attribute name="align" type="xs:string" use="required"/>
            <xs:attribute name="scale" type="xs:byte"/>
            <xs:attribute name="fileref" type="xs:string" use="required"/>
            <xs:attribute name="depth" type="xs:short" use="required"/>
            <xs:attribute name="width" type="xs:short" use="required"/>
            <xs:attribute name="format" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parablock">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="paragroup">
        <xs:complexType>
            <xs:choice>
                <xs:any/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="uitspraak">
        <xs:complexType>
            <xs:choice>
                <xs:any/>
            </xs:choice>
            <xs:attribute name="id" type="xs:anyURI" use="required"/>
            <xs:attribute name="lang" type="xs:string" use="required"/>
            <xs:attribute ref="rs:space" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="bridgehead">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="role" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="imageobject">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rs:imagedata"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mediaobject">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="orderedlist">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="numeration" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="footnote-ref">
        <xs:complexType>
            <xs:attribute name="linkend" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="itemizedlist">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="mark" type="xs:byte" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="informaltable">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="conclusie.info">
        <xs:complexType>
            <xs:choice>
                <xs:any/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="uitspraak.info">
        <xs:complexType>
            <xs:choice>
                <xs:any/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="inhoudsindicatie">
        <xs:complexType>
            <xs:choice>
                <xs:any/>
            </xs:choice>
            <xs:attribute name="id" type="xs:anyURI" use="required"/>
            <xs:attribute name="lang" type="xs:string" use="required"/>
            <xs:attribute ref="rs:space" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="inlinemediaobject">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
