src/main/assets/rechtspraak-fake-schema5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:rs="http://www.rechtspraak.nl/schema/rechtspraak-1.0" targetNamespace="http://www.rechtspraak.nl/schema/rechtspraak-1.0">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:attribute name="space"/>
	<xs:complexType name="T_Rechtspraak_Markup" mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="rs:nr"/>
				<xs:element ref="rs:alt"/>
				<xs:element ref="rs:row"/>
				<xs:element ref="rs:para"/>
				<xs:element ref="rs:entry"/>
				<xs:element ref="rs:tbody"/>
				<xs:element ref="rs:title"/>
				<xs:element ref="rs:tgroup"/>
				<xs:element ref="rs:colspec"/>
				<xs:element ref="rs:section"/>
				<xs:element ref="rs:emphasis"/>
				<xs:element ref="rs:footnote"/>
				<xs:element ref="rs:listitem"/>
				<xs:element ref="rs:conclusie"/>
				<xs:element ref="rs:imagedata"/>
				<xs:element ref="rs:parablock"/>
				<xs:element ref="rs:paragroup"/>
				<xs:element ref="rs:uitspraak"/>
				<xs:element ref="rs:bridgehead"/>
				<xs:element ref="rs:imageobject"/>
				<xs:element ref="rs:mediaobject"/>
				<xs:element ref="rs:orderedlist"/>
				<xs:element ref="rs:footnote-ref"/>
				<xs:element ref="rs:itemizedlist"/>
				<xs:element ref="rs:informaltable"/>
				<xs:element ref="rs:conclusie.info"/>
				<xs:element ref="rs:uitspraak.info"/>
				<xs:element ref="rs:inhoudsindicatie"/>
				<xs:element ref="rs:inlinemediaobject"/>
			</xs:choice>
			<xs:anyAttribute/>
	</xs:complexType>
	<xs:element name="nr">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="alt">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="para">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tgroup">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="colspec">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="emphasis">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="footnote">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listitem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="conclusie">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="imagedata">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="parablock">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="paragroup">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="uitspraak">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bridgehead">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="imageobject">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mediaobject">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderedlist">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="footnote-ref">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemizedlist">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="informaltable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="conclusie.info">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="uitspraak.info">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="inhoudsindicatie">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="inlinemediaobject">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rs:T_Rechtspraak_Markup"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
