src/main/assets/rechtspraak-fake-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Mathijs (BED) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rs="http://www.rechtspraak.nl/schema/rechtspraak-1.0">
	<xs:import namespace="http://www.w3.org/2000/01/rdf-schema#" schemaLocation="rechtspraak-fake-schema3.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rechtspraak-fake-schema1.xsd"/>
	<xs:import namespace="http://www.rechtspraak.nl/schema/rechtspraak-1.0" schemaLocation="rechtspraak-fake-schema5.xsd"/>
	<xs:element name="end">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:short">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="start">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:short">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="open-rechtspraak">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdf:RDF"/>
				<xs:element ref="rs:inhoudsindicatie"/>
				<xs:choice maxOccurs="1">
					<xs:element ref="rs:uitspraak"/>
					<xs:element ref="rs:conclusie"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
