src/main/assets/rechtspraak-fake-schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:dcterms="http://purl.org/dc/terms/" xmlns:psi="http://psi.rechtspraak.nl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" attributeFormDefault="qualified">
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="rechtspraak-fake-schema2.xsd"/>
	<xs:import namespace="http://psi.rechtspraak.nl/" schemaLocation="rechtspraak-fake-schema4.xsd"/>
	<xs:element name="li" type="xs:string"/>
	<xs:element name="RDF">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdf:Description" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdf:li" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dcterms:abstract"/>
				<xs:element ref="dcterms:accessRights"/>
				<xs:element ref="dcterms:coverage"/>
				<xs:element ref="dcterms:creator"/>
				<xs:element ref="dcterms:date"/>
				<xs:element ref="dcterms:format"/>
				<xs:element ref="dcterms:hasVersion"/>
				<xs:element ref="dcterms:identifier"/>
				<xs:element ref="dcterms:issued"/>
				<xs:element ref="dcterms:language"/>
				<xs:element ref="dcterms:modified"/>
				<xs:element ref="dcterms:publisher"/>
				<xs:element ref="dcterms:references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:replaces" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:relation" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:spatial" minOccurs="0"/>
				<xs:element ref="dcterms:subject" maxOccurs="unbounded"/>
				<xs:element ref="dcterms:temporal"/>
				<xs:element ref="dcterms:title"/>
				<xs:element ref="dcterms:type"/>
				<xs:element ref="psi:zaaknummer"/>
				<xs:element ref="psi:procedure" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="about" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="language" type="xs:string"/>
</xs:schema>
