src/main/assets/rechtspraak-fake-schema4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Mathijs (BED) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:ns1="http://psi.rechtspraak.nl/" targetNamespace="http://psi.rechtspraak.nl/">
	<xs:import namespace="http://www.w3.org/2000/01/rdf-schema#" schemaLocation="rechtspraak-fake-schema3.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rechtspraak-fake-schema1.xsd"/>
	<xs:element name="procedure">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdf:language" use="required"/>
					<xs:attribute ref="rdfs:label" use="required"/>
					<xs:attribute name="resourceIdentifier" type="xs:anyURI" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="zaaknummer">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="rdfs:label" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="type" type="xs:anyURI"/>
	<xs:attribute name="aanleg" type="xs:anyURI"/>
	<xs:attribute name="gevolg" type="xs:anyURI"/>
	<xs:attribute name="resourceIdentifier" type="xs:anyURI"/>
</xs:schema>
